<div class="sidebar">
        
        <div class="sidebar-section">
            <h5><span>Useful</span></h5>
            <ul style="list-none;">
            <li><a target="_blank" href="https://besoeasy.com">Website & Project Management</a></li>
            <li><a target="_blank" href="https://besoeasy.com">Personal Cyber Security</a></li>
            <li><a target="_blank" href="https://besoeasy.com">Custom Bot Creation</a></li>
            <li><a target="_blank" href="https://besoeasy.com">Data Processing & Management</a></li>
            </ul>
        </div>
            
        <div class="sidebar-section">
             <h5><span>Contact US</span></h5>
           <a href="https://www.messenger.com/t/besoeasy" title="Contact"><img src="https://i.ibb.co/Lp0d6FK/besoeasy-com-message.png" alt="Contact" /></a>
        </div>
            
</div>
