---
layout: default
disqus: false
archive: false
post_class: post-template
---

<!-- Begin Article
================================================== -->

	<div class="row">

		<!-- Sidebar -->
        <div class="col-sm-4">
        {% include sidebar.html %}
        </div>
		

		<!-- Post -->        
        {% assign author = site.authors[page.author] %}
        
		<div class="col-sm-8">
			<div class="mainheading">              
                
                <!-- Post Categories -->
                <div class="after-post-tags">
                    <ul class="tags">
                        {% assign sortedCategories = page.categories | sort %}
                        {% for category in sortedCategories %}
                        <li>
                         <a href="javascript:window.location.href=window.location.href">{{ category }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- End Categories -->
                
                <!-- Post Title -->
				<h1 class="posttitle">{{ page.title }}</h1> 
                
			</div>

			<!-- Post Content -->
			<div class="article-post">
				{{content}}
                <div class="clearfix"></div>
			</div>
            
			
            

		</div>
		<!-- End Post -->
        
        

	</div>

<!-- End Article
================================================== -->
